@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 50, 50, 50;
  --background-end-rgb: 30, 30, 30;
  --accessory-color: #00A8E8;
  --card-background: gray
}

body {
  color: white;
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
